*{
    margin:0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    position: relative;
}
.navbar{
    width: 85%;
    height: 15vh;
    /* margin-left: 100px; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
    padding-top: 30px;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
}
.row{
    width: 85%;
    height: 85vh;
    margin: auto;
    display: flex;
    position: relative;
}
.left-col{
    flex-basis: 45%;
    height: 100%;
    position: relative;
}
.content{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
}
.content h1{
    font-size: 45px;
    line-height: 50px;
    letter-spacing: 1px;
}
.content p{
    color: #adadad;
    font-size: 13px;
    line-height: 18px;
    margin: 20px 0;
}
span{
    color: #ff5174;
}
.arrow{
    width: 40px;
    height: 40px;
    padding: 12px 0;
    border: 1px solid #ff5174;
    box-sizing: border-box;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}
.arrow img{
    width: 25px;
}
.art{
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%,-50%);
}
.right-col{
    flex-basis: 55%;

}
#picture{
    height: 100%;
    display: block;
    margin:auto;
}
.controller{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.controller ul li{
    list-style: none;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    padding: 0 30px;
    margin-bottom: 30px;
    cursor: pointer;
    line-height: 50px;
}
.controller ul li::after,
.controller .active::after{
    content: '';
    width: 2px;
    height: 50px;
    background: #a2a2a2;
    position: absolute;
    left: 0;
}
.controller .active::after{
    background: #ff5174;
}
.controller .active{
    color: #000;
}
#sidenav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250;
    top: 0;
    background: #ff5174;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
   
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: 0.5s;
}
nav ul li a:hover{
    color: yellow;
}
#menu-btn{
    width: 50px;
    height: 50px;
    /* background: #fff; */
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
    padding-right: 38px;
}
#menu-btn img{
    width: 20px;
    margin-top: 15px;
}



/* registration */




